<%= link_to event do %>
<div class="event_item card">
  <div class="card__image_container">
    <% if event.picture.file %>
      <%= image_tag event.picture.url, class: 'card__image' %>
    <% else %>
      <picture>
        <source type="image/jpeg" media="(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)" srcset="<%= image_path("placeholder_2x.jpg") %>" />
        <source type="image/jpeg" srcset="<%= image_path("placeholder.jpg") %>" />
        <%= image_tag "placeholder.jpg" %>
      </picture>
    <% end %>
  </div>
  <div class="card__content">
    <p class="event_item__name"><%= event.name %></p>
    <p class="event_item__venue"><%= event.venue %></p>
    <p class="event_item__start_time"><%= format_date(event.start_time) %></p>
  </div>
</div>
<% end %>
