<p id="notice"><%= notice %></p>

<section class="page_header">
<h1><%= @heading %></h1>
<%= link_to 'New Event', new_event_path, class: 'button push-right' %>
</section>

<div class="event_grid">
<%= render partial: "event", collection: @events %>
</div>

