<%= link_to '<< Back', '/' %>

<div class="card single_event">
  <div class="card__image_container">
    <% if @event.picture.file %>
      <%= image_tag @event.picture.url, class: 'single_event__image single_event__image--move-up' %>
    <% else %>
      <%= image_tag 'placeholder_wide.jpg', class: 'single_event__image' %>
    <% end %>
  </div>
  <div class="single_event__details card__content">
    <h3 class="single_event__name"><%= @event.name %></h3>
    <%= link_to 'Edit', edit_event_path(@event) %>
    <p id="notice"><%= notice %></p>
    <p><strong>Venue:</strong> <%= @event.venue %></p>

    <p><strong>Time:</strong> <%= @event.start_time %> till <%= @event.end_time %></p>
    <div class="single_event__description"><%= @event.description %></div>
  </div>
</div>
