html, body
  font-size: 16px

body 
  background-color: $body-bg
  color: $text-color
  margin: 0
  display: flex
  min-height: 100vh
  flex-direction: column
  font-family: $font-family
  font-size: 1rem

  > main
    flex: 1
    padding-top: 1rem
    padding-bottom: 4rem

footer
  height: rem-calc(100)
  display: flex
  align-items: center
  background: $brand-color
  color: #fff

.page_header
  display: flex
  align-items: center

.push-right
  margin-left: auto

a 
  text-decoration: none
  color: lighten($primary-color, 5%)

  &:visited 
    color: lighten($primary-color, 9%)
  
th 
  padding-bottom: 5px

td 
  padding: 0 5px 7px

div 
  &.field, &.actions 
    margin-bottom: 10px
  
#notice 
  color: green

#error_explanation 
  border: 2px solid red
  padding: 7px 7px 0
  margin-bottom: 20px
  background-color: #f0f0f0

  h2 
    text-align: left
    font-weight: bold
    padding: 5px 5px 5px 15px
    margin: -7px -7px 0
    font-size: 1.3em
    background-color: #c00
    color: #fff
  
  ul li 
    font-size: 1.1em
    list-style: square
  
label 
  display: block

.container
  max-width: $container-width
  margin: 0 auto

  @media screen and (min-width: $container-width)
    width: $container-width
