.button, a.button
  background: $primary-color
  border-radius: 5px
  color: #fff
  cursor: pointer
  display: inline-block
  font-family: $font-family
  font-size: 1rem
  min-width: rem-calc(80)
  padding: .6em 1.3em
  text-decoration: none
  transition: .2s

  &:hover
    background: lighten($primary-color, 5%)

input.button
  border: none
  outline: none
