.card
  background: #fff
  border-radius: 2px
  box-shadow: 0 2px 6px rgba(0,0,0,.1)
  display: flex
  flex-direction: column
  overflow: hidden
  height: 100%
  transition: .2s

.card__content
  padding: .7em 1em
  display: flex
  flex-direction: column
  min-height: 120px

  p
    margin: 0

.card__image_container
  height: 230px
  overflow: hidden

  > *
    min-height: 100%
    max-width: 100%
    min-width: 100%
    object-fit: cover
    object-position: 50% 50%

a .card
  text-decoration: none
  color: #333

a:hover .card
  box-shadow: 0 6px 9px 0 rgba(0,0,0,.15),0 5px 16px 0 rgba(0,0,0,.15)
