.event_grid
  display: grid
  grid-template-columns: repeat(3, 1fr)
  grid-gap: 1.25rem

.event_item__name
  margin: 0
  height: 3.45rem
  font-weight: bold
  font-size: 1.2em

.single_event
  margin-top: 1rem
  height: initial

.single_event__name
  font-size: 1.5rem
  margin-top: 0
  margin-bottom: .5rem

.single_event__image--move-up
  margin-top: -10rem

.single_event__description
  font-size: 1.2em
