.field
  input[type="text"], input[type="date"], input[type="time"], textarea, select
    padding: .375rem .75rem
    border-radius: 3px
    border: 1px solid #aaa
    font-size: 1rem
    font-family: $font-family
    transition: .1s ease-in

  input:focus
    box-shadow: 0 0 5px transparentize(#999, .5)

.field_with_errors
  color: red
  &:last-child
    display: inline-block

  input[type="text"]
    color: red
    border-color: red
    
    &:focus
      box-shadow: 0 0 5px transparentize(red, .5)
