header
  background: #fff
  box-shadow: 0 2px 3px rgba(0,0,0,.1)
  padding: .25rem

  h1, h3
    margin: 0

.header__logo
  height: 4rem

.header__link
  padding: 0 1.5rem

.header__container
  display: flex
  align-items: center

.push-right
  margin-left: auto
