<header>
  <div class="container header__container">
    <%= link_to '/' do %>
      <%= image_tag 'amagumo-logo.svg', class: 'header__logo' %>
    <% end %>

    <%= link_to 'Upcoming', '/', class: 'push-right header__link' %>
    <%= link_to 'Past Events', '/past', class: 'header__link' %>
    <%= link_to 'New Event', '/events/new', class: 'header__cta header__link button' %>
  </div>
</header>

