<!DOCTYPE html>
<html>
  <head>
    <title>Amagumo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,600i,700&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <main class="container">
      <%= yield %>
    </main>
    <footer>
      <div class="container">
        &copy; 2019 by Karol Moroz / Cogini Hong Kong Limited. All rights reserved.
      </div>
    </footer>
  </body>
</html>
